*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: solid 1px black; */
}

/***************************************************
palette
***************************************************/
:root {
	--color-green: #198754;
	--color-yellow: #ffc107;
	--color-red: #dc3545;
	--color-bell: #ff8f00;
	--color-bg_primary: #1b72e8;
	--color-bg_secondary: #165bba;
    --color-bg-sidebar: #051e34;
	--color-neutral_lighter: #f8f9fa;
	--color-neutral_dark: #e5e5e5;
}

/***************************************************
variables
***************************************************/
:root {
	--nav_height: 70px;
}


/***************************************************
utility
***************************************************/
.color_bell
{
    color: var(--color-bell);
}

.ps_2
{
    padding-left: 2rem !important;
}


/***************************************************
general
***************************************************/
.wrapper
{
    width: 100%;
    height: 100vh;
}

header
{
    height: var(--nav_height);
    background-color: white;
}

/***************************************************
header
***************************************************/


/***************************************************
main
***************************************************/
main
{
    height: calc(100vh - var(--nav_height));
}

main *
{
    font-weight: 500;
}

#side_bar
{
    height: 100%;
    background-color: var(--color-bg-sidebar);
    background-image: url("../img/sidebar-bg.png");
}

#side_bar ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#side_bar a
{
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    height: 2.5rem;
    transition: 0.5s;
    font-weight: 500;
}

#side_bar a:hover
{
    background-color: #ffffff70;
}

#side_bar i
{
    width: 1rem;
}

#main_section
{
    height: 100%;
    overflow-y: auto;
}

.list-group-item label,
.accordion-body,
.list-group li,
table
{
    font-size: 0.9rem !important;
}

th:first-child,
td:first-child
{
    text-align: start;
}

.badge
{
    font-weight: normal !important;
}

table .btn
{
    height: 30px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***************************************************
footer
***************************************************/
