*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: solid 1px black;
}

/***************************************************
palette
***************************************************/

/***************************************************
variables
***************************************************/
:root {
	--nav-height: 80px;
}


/***************************************************
utility
***************************************************/


/***************************************************
general
***************************************************/
.wrapper
{
    width: 100%;
    height: 100vh;
}


/***************************************************
header
***************************************************/


/***************************************************
main
***************************************************/


/***************************************************
footer
***************************************************/
